
<div ng-controller="logincontroller">

<form name="loginform" >
        <label class=blue_font>Email</label>
        <input class=form-control type="text" id="email" ng-model="loginform.email" placeholder="email" autocomplete="off">
    
    <div class="form-group" >
        <label class=blue_font>Password</label>
        <input class=form-control type="text" id="password" ng-model="loginform.password" placeholder="password" autocomplete="off">
    </div>     
	 <div class="btn-wrapper">
	 
	 <div class="row-gutter-5">
    <div class="col-md-4 col-xs-6 col-sm-6">
      <button class="btn btn_blue" type="button" data-ng-click="login()" id="login" >login</button>
    </div>
	 </div> 
	 </div>
	 </form>
	 </div>
	  